{% filter richtext %}
**Merci** d’avoir pris le temps de lire ce [texte librement payant](/nous-soutenir).
**Prenez la liberté de nous soutenir**,
par une critique constructive, un petit mot sympa,
[quelques euros](/nous-soutenir#moyens-de-paiement) ou une tape dans l’dos !

N’oubliez pas, aussi, de **partager ce livre web** autour de vous et sur les réseaux sociaux.  
<small>Cela nous donne de la visibilité, cela permet à vos amis de nous découvrir
et cela ne vous coûte qu’un clic. Merci !</small>

Ce texte est publié par *Marie Courtel et Mathieu Poisbeau*
sous la licence [CC0 1.0 universel](//creativecommons.org/publicdomain/zero/1.0/deed.fr)
*(transfert dans le domaine public)*.

<p class="text-center">
    <img src="/images/cc-zero.jpg" alt="">
</p>
{% endfilter %}
