// Color definitions
// -------------------------


// Typography
// -------------------------


// Other redefinitions
// -------------------------
@font-size-base    : 20px;
@font-size-h1      : 34px;
@font-size-h2      : 28px;
@font-size-h3      : 24px;
@popover-max-width : 300px;
