{% set currentPage = 'home' %}

{% extends 'layout.html.twig' %}

{% block main %}

<div id="main" class="slide">
    <h1>Afrikapié
        <br><small>le livre web</small>
    </h1>

    <p>J’crois bien que vous êtes perdus en plein désert de Mauritanie !</p>

    <p>C’est sûr, la chose que vous cherchez n’est pas ici.</p>

    <p>Retournez donc à la <a href="/">page d’accueil</a>.</p>

    <p>Si cela vous semble louche, n’hésitez pas à <a href="/#contact">nous contacter</a>.</p>
</div>

{% endblock %}
