{% set currentPage = 'home' %}

{% extends 'layout.html.twig' %}

{% from 'form.twig' import list_errors %}

{% block javascripts %}
    <script src="/js/app-home.js"></script>
{% endblock %}

{##
 # SUMMARY:
 #  -> Errors for the contact form
 #  -> Affix navbar: important shortcuts
 #  -> Jumbotron + the summary
 #  -> The travel
 #  -> The web book
 #  -> Release
 #  -> Free reading
 #  -> Open price + link to "Support us"
 #  -> The authors
 #  -> Contact us
 #}
{% block main %}

{{ list_errors(errors, 'contact') }}

<!-- Affix navbar: important shortcuts -->
<nav>
    <ul>
        <li><a href="#sommaire">Sommaire</a></li>
        <li><a href="/nous-soutenir">Nous soutenir</a></li>
        <li><a href="#contact">Nous contacter</a></li>

        <li><a href="#main" aria-label="Aller en haut de page">
            <i class="fa fa-arrow-up" title="Haut de page"></i>
        </a></li>
    </ul>
</nav>

<!-- Jumbotron -->
<div id="main" class="slide">
    <h1>Afrikapié
        <br><small>le livre web</small>
    </h1>

    <p>Une voyageuse, un voyageur</p>

    <p><strong>9 mois</strong> de découvertes,
       <strong>4000 km</strong> à pied
    </p>

    <p class="small">à travers Maroc, Mauritanie, Sénégal et Mali</p>

    <p>
        Libre Lecture<br>Prix Libre<br>
        <script id='fbkkljt'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=anarchos-semitas&button=compact&url=http%3A%2F%2Fafrikapied.fr';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbkkljt');</script>
    </p>

    <hr>

    {% include 'summary.html.twig' %}
</div>

<!-- The travel -->
<div class="slide">
    <h1>Le voyage</h1>

    <div class="row">
        <div class="col-md-8">
{% filter richtext %}
Avant d’être un livre, des dessins, des photos...
**Afrikapié** est d’abord un **très beau voyage**,
notre tout premier hors des frontières européennes, françaises presque.

À travers Maroc, Mauritanie, Sénégal et Mali,
durant **9 mois** et **4000 kilomètres à pied**,
l’Afrique nous a offert des moments forts, des instants magnifiques,
nous permettant de nous accomplir comme *voyageurs de grand chemin*.

D’octobre 2013 à juillet 2014, nous y avons déambulé,
sac sur le dos, au rythme rude et lent de la marche,
papillonnant au gré des rencontres, des paysages, des cultures, des langues
et avec, pour seule motivation, la découverte décomplexée de « l’autre ».
{% endfilter %}
        </div>

        <div class="col-md-4 text-center">
            <a href="/images/afrikapie-path.jpg" data-lightbox="our-path" data-title="Le chemin parcouru en Afrique">
                <img src="/images/afrikapie-path.jpg" style="max-width: 100%;">
            </a>
        </div>
    </div>
</div>

<!-- The web book -->
<div class="slide">
    <h1>Le livre web</h1>

{% filter richtext %}
Le voyage à peine terminé, nous voulions déjà le partager, par l’écriture surtout.

« Avec quel angle d’attaque ? Pour quels supports ? Qui écrira ? »
Ces questions, dans la déprime du retour, nous avons eu quelque mal à y répondre.
C’est désormais chose faite avec ce **livre web** !

**Écrit à quatre mains**, sous la forme d’un **journal de bord**,
c’est avec **un regard féminin**, celui de Marie,
que vous découvrirez notre quotidien de jeunes marcheurs, naïfs et passionés,
que vous plongerez dans notre **Afrikapié** !

Pourquoi sur le web ?
D'abord, parce qu’il permet une **diffusion plus large et plus égalitaire**
des idées, de l'information, de la culture, etc.
Aussi, parce que les possibilités y sont démultipliées !

Ainsi, à l’image des web-documentaires, desquels nous nous sommes inspirés,
nous avons conçu ce livre web pour être **interactif**,
en associant textes, encarts encyclopédiques, photos, dessins, sons et vidéos.
De la sorte, le récit s’en trouve **largement enrichi**,
vous offrant une **immersion plus profonde, plus complète**.

Pour les **malvoyants** (ou les fainéants :-), chaque texte a même sa **version audio**, lue par Marie.
D’ailleurs, nous avons veillé à ce que ce livre web soit **accessible aux personnes en situation de handicap**
<small>(n’hésitez pas à <a href="#contact">nous contacter</a>
si des défauts persistent, ou si des améliorations sont à faire)</small>.
{% endfilter %}
</div>

<!-- Release -->
<div class="slide">
    <h1>Parution</h1>

{% filter richtext %}
**Dès le 12 avril et durant deux mois** environ,
laissez-vous transporter au **Maroc** et en **Mauritanie**,
à travers montagnes sèches ou enneigées, grandes plaines cultivées,
villes bouillonnantes, paisibles campagnes, longues plages solitaires,
déserts immenses et poétiques, etc.

Ainsi, **chaque jour** d’avril, mai et juin, découvrez les nouvelles pages
du **journal de bord d'Afrikapié**.

L’Afrique noire – Sénégal et Mali – ne se dévoilera qu’à l’automne. Alors, patience...

**Et la version papier ?**
Elle sera disponible, bien sûr !
Quelque part entre la fin d’été et la fin d’année.
Probablement en **auto-édition** et en **deux tomes**.
Pas d’inquiétude cependant : nous vous tiendrons au courant.
{% endfilter %}
</div>

<!-- Free reading -->
<div class="slide">
    <h1>Lecture libre</h1>

{% filter richtext %}
L’**accès** à ce livre web est **entièrement ouvert**.
Pour le consulter : ni code d'accès ni besoin de payer.
**Vos mouvements de lecteur sont et resteront libres !**

Pourquoi ce choix ?

D’abord **par pragmatisme**.
Parce qu’il est difficile, sur le vaste et foisonnant *Web*, d’attirer le peuple
autour d’un contenu fermé, payant a priori.
De nos jours, grâce à cet hypermédia, nous sommes tous des créateurs en puissance.
Alors, pour gagner sa petite place au soleil, il faut y être particulièrement ouvert et opiniâtre.

Aussi et surtout **par idéologie**.
Parce que, selon nous, il est contre-productif, pour l’avancée et l’égalité sociales,
de limiter la diffusion des savoirs, idées, cultures...
aux seules personnes qui peuvent se les payer.
Jamais l'on ne devrait enfermer les œuvres de l’esprit, ni restreindre leur utilisation,
car elles forment un bien commun qui préside à l’élévation des hommes.

Voilà pourquoi nous plaçons ce modeste livre web, ses textes, sons, photos, dessins, vidéos...
sous la licence libre [CC0 1.0 universel](//creativecommons.org/publicdomain/zero/1.0/deed.fr).
C’est-à-dire que **nous transférons délibérément cette œuvre dans le domaine
<span class="unbreak">public
<sup class="fa fa-comment-o small" data-title="Du moins, autant que le permet la loi de votre pays."></sup></span>**.

Écrit autrement : **vous êtes libres de consulter, partager, modifier et utiliser** cette œuvre,
comme bon vous semble, sans aucune restriction.

Ce n’est, d’ailleurs, qu’un maigre retour à tout ce qui, durant le voyage, nous a été offert...
{% endfilter %}
</div>

<!-- Open price -->
<div class="slide">
    <h1>Prix libre</h1>

{% filter richtext %}
Cette œuvre est **libre, mais pas gratuite** !
Son prix ? Une critique, un merci, un encouragement, une bière, une fleur,
un kilo de patates, quelques euros ou même beaucoup.
**À vous de choisir** : en fonction de vos possibilités, de ce qui vous semble juste,
des émotions reçues, du plaisir perçu, de votre imagination ou votre créativité.

Nous croyons que la rémunération d’une œuvre, d’un travail créatif,
ne doit pas être un acte forcé (comme c’est la norme), mais **une démarche volontaire et positive**.
Par notre travail, nous cherchons à donner du plaisir, à créer des émotions,
à faire découvrir, à susciter des interrogations, etc.
Et **nous rêvons d’être soutenu pour cela**.
Que l'on passe du « payer pour pouvoir lire » au « **payer pour remercier** ».

Notre choix du **prix libre** n’est **pas utopique**, il est **militant**.
Depuis la nuit des temps (et davantage encore depuis le *Web*),
des créateurs, artistes, artisans et autres travailleurs ont fait ce choix.
**C’est une pratique égalitaire et citoyenne, qui crée du lien, de l’intérêt mutuel.**
{% endfilter %}

    <p class="text-center lead" style="margin-top: 40px;">
        <a href="/nous-soutenir">
            <i class="fa fa-long-arrow-right hidden-xs"></i>
            &nbsp;Pour nous soutenir ? C’est ici !&nbsp;
            <i class="fa fa-long-arrow-left hidden-xs"></i>
        </a>
    </p>
</div>

<!-- The authors -->
<div class="slide">
    <h1>Les auteurs</h1>

{% filter richtext %}
**Mathieu** a 27 ans.
Passionné par la programmation informatique, il en a fait son métier,
créant briques logicielles et sites web.
Surtout, depuis sa tendre enfance, il rêve de bouts du monde, de vastes territoires, de liberté.

> *« Ma ligne de vie sera un voyage foutraque et anarchique,
une ramification de périples simples, bruts, riches en émotions ».*

**Marie** a 26 ans.
Après des études en biodiversité, elle travaille comme technicienne
dans la recherche en hydrologie et hydraulique.
Petite pousse, elle ne se voyait certainement pas « grande aventurière ».

> *« Les rêves vagabonds de Mathieu ont été contagieux !
Déambuler sur des terres inconnues, sans savoir ce qui t’attend demain :
c’est intense et fascinant. »*

<div class="col-sm-3">
    <img class="img-responsive" src="/images/marie-mathieu.jpg"
         alt="Mathieu et Marie, portrait à l’aquarelle"
         style="margin: auto;">
</div>

**Marie & Mathieu**, c’est nous !
Deux amoureux du *Voyage*, mais pas n’importe lequel.
Celui qui est long, lent, précaire, fait de petits bouts de ficelle, de rencontres populaires,
d’échanges culturels, d’immersions en pleine nature.
Aujourd’hui sans activité conventionnelle, reclus dans une charmante campagne bretonne,
nous bâtissons une vie de voyage, d’amour et d’eau fraîche.

En 2011, nous réalisons un premier périple au long cours, en France.
Pendant **deux mois**, nous descendons **la Loire en kayak**, de sa source à son estuaire.
Puis, **quatre mois** durant, nous vagabondons **à pied de Nantes à Nice**.
De cette belle aventure, magique et poétique, tranquille et puissante,
nous avons pondu un livre en auto-édition :
[**3000 kilomètres en diagonale**](//anarchos-semitas.net/our-travels/3000-km-diagonal).
{% endfilter %}
</div>

<!-- Contact us -->
<div class="slide">
    {% include 'contact.html.twig' %}
</div>

{% endblock %}
