{% set currentPage = 'home' %}

{% extends 'layout.html.twig' %}

{% from 'form.twig' import list_errors %}


{% block javascripts %}
    <script src="/js/app-home.js"></script>
{% endblock %}


{% block stylesheets %}
{% endblock %}


{% block header %}
    {{ list_errors(errors, 'contact') }}
{% endblock %}


{% block main %}

<div id="main" class="slide">
    <h1>Afrikapié
        <br><small>le livre web</small>
    </h1>
    <p>Un voyage,
        <strong>9 mois</strong> de découvertes,
        <strong>4000 km</strong> à pied.
    </p>
    <p>Libre Lecture<br>Prix Libre</p>
</div>

<div id="contact" class="slide">
    {% include 'contact.html.twig' %}
</div>

{% endblock %}
