<!-- Help modal -->
<div class="modal fade" id="help-for-text" tabindex="-1"
     role="dialog" aria-hidden="true" aria-labelledby="help-for-text-title"
>
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 id="help-for-text-title" class="modal-title">
                    Comprendre la version augmentée
                </h2>
            </div>

            <div class="modal-body">
Blabla
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>

        </div>
    </div>
</div>
<!-- END_Help modal -->
