<p>
    <b>Merci</b> d'avoir pris le temps de lire ce <a href="/prix-libre">texte librement payant</a>.
    <b>Prenez la liberté de nous soutenir</b>,
    par une critique constructive, un petit mot sympa,
    <a href="/nous-soutenir">quelques euros</a> ou une tape dans l’dos !
</p>

<p>
    N'oubliez pas, aussi, de <b>partager ce livre web</b> autour de vous et sur les réseaux sociaux.
    <br>
    <small>Cela nous donne de la visibilité, cela permet à vos amis de nous découvrir
    et cela ne vous coûte qu’un clic. Merci !</small>
</p>

<p>
    Ce texte est publié par <a href="/les-auteurs">Marie Courtel et Mathieu Poisbeau</a>
    sous la licence <a href="//creativecommons.org/publicdomain/zero/1.0/deed.fr">CC0 1.0 universel</a>
    <em>(transfert dans le domaine public)</em>.
</p>

<p class="text-center">
    <img src="/images/cc-zero.jpg" alt="Logo de la licence CC0">
</p>
